<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Analisis perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sistema de Fases</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link">Empleado: <span th:text="${empleado.nombre}"></span></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Fase Actual: <span th:text="${fase}"></span></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seleccionarFase">Cambiar Fase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="mt-5">Requerimientos</h1>
        <form action="#" th:action="@{/}" method="post" class="mt-3">
            <div class="form-group">
                <label for="requerimientos">Seleccionar requerimiento:</label>
                <select id="requerimiento" name="requerimientoConsec" class="form-control" required>
                    <option th:each="requerimiento : ${requerimientos}" th:value="${requerimiento.desFuncion}" th:text="${requerimiento.desFuncion}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Visualizar requerimiento</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>