<!DOCTYPE html>
<html lang = "es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario candidato</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <body>
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Registrar candidato</h2>
                    <div class="alert alert-danger" th:if="${error}!=null" th:text = "${error}" role = "alert"></div>
                    <div class="alert alert-success" th:if="${success}!=null" th:text = "${success}" role = "alert"></div>
                    <form th:ref="@{/}" th:object="${candidato}" method="post">
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Usuario:</label>
                            <input type="email" class="form-control" th:field="*{usuario}" id="usuario" name="usuario">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></small>
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" th:field="*{apellido}" id="apellido" name="apellido">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                        </div>
                        <div class="mb-3">
                            <div>
                                Tipo de documento:
                            </div>
                            <select class="form-control" id="tipoDoc" th:field="*{tipoDoc}">
                                <option th:each="option : ${options}" th:value="${option.idTipoDoc}" th:text="${option.descTipoDoc}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="documento" class="form-label">Numero de documento:</label>
                            <input type="number" class="form-control" th:field="*{nDoc}" id="documento" name="documento">
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('nDoc')}" th:errors="*{nDoc}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha de nacimiento:</label>
                            <input type="date" class="form-control" th:field="*{fechaNac}" id="fecha" name="fecha">
                            <div class="form-text text-danger" th:if="${#fields.hasErrors('fechaNac')}" th:errors="*{fechaNac}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        </body>

</html>
