<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Requerimiento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Sistema de Fases</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span class="nav-link">Empleado: <span th:text="${empleado.nombre}"></span></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link">Fase Actual: <span th:text="${fase}"></span></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seleccionarFase">Cambiar Fase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <h1 class="mt-5">Crear Nuevo Requerimiento</h1>
        <form action="#" th:action="@{/sendRequerimiento}" th:object="${requerimiento}" method="post" class="mt-3">
            <!-- <div class="form-group">
                <label for="idEmpleadoResponsable">ID Empleado Responsable:</label>
                <input type="text" id="idEmpleadoResponsable" th:field="*{idEmpleadoResponsable}" class="form-control" />
            </div> -->
            <div class="form-group">
                <label for="desFuncion">Descripcion de funciones:</label>
                <textarea id="desFuncion" th:field="*{desFuncion}" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="desCarreras">Descripcion de carreras:</label>
                <textarea id="desCarreras" th:field="*{desCarreras}" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="numVacantes">Número de Vacantes:</label>
                <input type="number" min="1" id="numVacantes" th:field="*{numVacantes}" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Crear Requerimiento</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>