<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seleccionar Fase</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Seleccionar Fase</h1>
        <p th:text="'Bienvenido,  ' + ${empleado.nombre} + ' con cargo:  ' +  ${empleado.descCargo}"></p>
        <div class="list-group mt-3">
            <a th:each="fase : ${fases}" th:href="@{/cambiar-fase(fase=${fase.idFase})}" th:text="${fase.descFase}" class="list-group-item list-group-item-action"></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>