<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Requerimiento</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Información de la Persona</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <p id="nombre" class="form-control-plaintext" th:text="${requerimiento.perfil}"></p>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <p id="apellido" class="form-control-plaintext" th:text="${persona.disciplina}"></p>
        </div>
        <div class="form-group">
            <label for="vacantes">Edad:</label>
            <p id="edad" class="form-control-plaintext" th:text="${persona.numVacantes}"></p>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <p id="email" class="form-control-plaintext" th:text="${persona.email}"></p>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>